menu "App Configuration"

    config CONSOLE_MAX_COMMAND_LINE_LENGTH
        int "Maximum command line length"
        default 1024
        help
            Maximum length of a single console command line.

    config APP_BLE_DEVICE_NAME
        string "BLE device name"
        default "TempChart-S3"
        help
            GAP device name advertised over BLE (NimBLE bleprph style).

endmenu
